.second-container{
    border: 3px solid #6D3DDA;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 85%;
    .input-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px 0;

        label {
            color: #6D3DDA;
            font-size: 20px;
            margin-right: 5px;
        }
        .input-user {
            padding: 10px;
            border: 3px solid #6D3DDA;
            border-radius: 5px;
            background-color: gainsboro;
            width: 50%;
        }
    }

    .btn-login {
        padding: 10px 20px;
        background-color: #6D3DDA;
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        width: 100px;
    }
}