.second-container{
    border: 3px solid #6D3DDA;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 85%;
    margin: auto;

        .input-user {
            padding: 10px;
            border: 3px solid #6D3DDA;
            border-radius: 5px;
            background-color: gainsboro;
            width: 100%;
            margin-bottom: 10px;
        }

    .btn-login {
        padding: 10px 20px;
        background-color: #6D3DDA;
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        width: 100px;
    }
}