.we-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10px;
    top: 25%;
    width: 40%;
    .wel {
        font-size: 40px;
        font-weight: bold;
        color:#6D3DDA;
    }
    .img-logo {
        height: 80px;
        width: auto;
    }

}