.main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0 20px;
    .name-user {
      color: #6D3DDA;
      font-size: 20px;
      font-weight: bold;
      margin: 0 10px;
      display: inline-block;
      cursor: pointer;
    }
      .item {
        margin: 0 7px;
        display: inline-block;
        color: gray;
        cursor: pointer;
      }
      .img-user {
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
}