.main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0 20px;
      .item {
        margin: 0 7px;
        display: inline-block;
        text-decoration: none;
        color: gray;
        cursor: pointer;
      }
      .img-user {
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
}