* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.all {
    min-width: 350px;
    .main {
        background-color: gainsboro;
        margin: auto;
        margin-top: 50px;
    }
}
